<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="/static/css/index.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" href="/">品位</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="text-muted" href="#" aria-label="Search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
                </a>
                <a class="btn btn-sm btn-outline-secondary" href="/login">登录</a>
                &nbsp;&nbsp;
                <a class="btn btn-sm btn-outline-secondary" href="/register">注册</a>
            </div>
        </div>
    </header>
</div>

<div class="position-relative overflow-hidden p-3 p-md-5 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">有味道的产品</h1>
        <p class="lead font-weight-normal">不错过任何一个新产品</p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productModal"><i class="fas fa-plus"></i> 分享产品</button>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="products-wrapper container">
    <h3>产品列表</h3>
    {{ range .Items }}
    <div class="products-date">
        <span class="date">{{ .Date }}</span>
        <div class="dropdown-divider"></div>
        <div class="products">
            {{ range .Products }}
            <div class="media products-item">
                <a href="#" class="align-self-center mr-3 upvote-link">
                    <i class="far fa-thumbs-up"></i>
                    <span>10</span>
                </a>
                <div class="media-body">
                    <a href="{{ .Link }}" target="_blank" class="mt-0 external-link">{{ .Name }}</a>
                    <p class="mb-0">{{ .Description }}</p>
                </div>
                <img src="https://avatars0.githubusercontent.com/u/3094973?v=4" class="align-self-center avatar" alt="">
            </div>
            {{ else }}
                <p>暂时没有产品信息</p>
            {{ end }}
        </div>
    </div>
    {{ end }}
</div>

<!-- Modal -->
<div class="modal fade" id="productModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">分享新产品</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="product-form" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">名称</label>
                        <input type="text" class="form-control" name="name" placeholder="输入产品名称" required>
                    </div>
                    <div class="form-group">
                        <label for="link">产品链接</label>
                        <input type="text" class="form-control" name="link" placeholder="输入产品链接" required>
                    </div>
                    <div class="form-group">
                        <label for="description">一句话描述</label>
                        <input type="text" class="form-control" name="description" placeholder="输入该产品的描述信息" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">提交 <i class="fas fa-arrow-right"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/static/js/font.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9+4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/static/js/product.js"></script>
</body>
</html>